.header {
    grid-area: h;
    background-color: green;
  }
  .header img {
    width: 20px;
  }
.login a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  background: black;
}